#!/bin/bash

LETSENC_USER=letsencrypt
export HOME=/var/lib/dehydrated
cd $HOME

[[ -n "$*" ]] || set -- --cron

if [[ "x$(id -u $LETSENC_USER)" = "x$(id -u)" ]]
then
	exec $HOME/script/dehydrated --config $HOME/config "$@"
else
	exec sudo -u $LETSENC_USER -H $HOME/script/dehydrated --config $HOME/config "$@"
fi
